<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="TempestSDR"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|density|uiMode"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="tempest_ui" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/rtl_sdr_devices" />
        </activity>
    </application>
</manifest>
